Server/BankServer/src/BankServices/BankWebServicePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://bank" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://bank" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://bank" schemaLocation="BankWebServicePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="sayHelloWorldFrom">
    <part name="parameters" element="tns:sayHelloWorldFrom"/>
  </message>
  <message name="sayHelloWorldFromResponse">
    <part name="parameters" element="tns:sayHelloWorldFromResponse"/>
  </message>
  <message name="openAccount">
    <part name="parameters" element="tns:openAccount"/>
  </message>
  <message name="openAccountResponse">
    <part name="parameters" element="tns:openAccountResponse"/>
  </message>
  <message name="getCustomer">
    <part name="parameters" element="tns:getCustomer"/>
  </message>
  <message name="getCustomerResponse">
    <part name="parameters" element="tns:getCustomerResponse"/>
  </message>
  <message name="FailedLoginException">
    <part name="fault" element="tns:FailedLoginException"/>
  </message>
  <message name="signIn">
    <part name="parameters" element="tns:signIn"/>
  </message>
  <message name="signInResponse">
    <part name="parameters" element="tns:signInResponse"/>
  </message>
  <message name="getLoan">
    <part name="parameters" element="tns:getLoan"/>
  </message>
  <message name="getLoanResponse">
    <part name="parameters" element="tns:getLoanResponse"/>
  </message>
  <message name="transferLoan">
    <part name="parameters" element="tns:transferLoan"/>
  </message>
  <message name="transferLoanResponse">
    <part name="parameters" element="tns:transferLoanResponse"/>
  </message>
  <message name="TransferException">
    <part name="fault" element="tns:TransferException"/>
  </message>
  <message name="delayPayment">
    <part name="parameters" element="tns:delayPayment"/>
  </message>
  <message name="delayPaymentResponse">
    <part name="parameters" element="tns:delayPaymentResponse"/>
  </message>
  <message name="RecordNotFoundException">
    <part name="fault" element="tns:RecordNotFoundException"/>
  </message>
  <message name="getCustomersInfo">
    <part name="parameters" element="tns:getCustomersInfo"/>
  </message>
  <message name="getCustomersInfoResponse">
    <part name="parameters" element="tns:getCustomersInfoResponse"/>
  </message>
  <portType name="BankWebService">
    <operation name="sayHelloWorldFrom">
      <input ns1:Action="http://bank/BankWebService/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://bank/BankWebService/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="openAccount">
      <input ns3:Action="http://bank/BankWebService/openAccountRequest" message="tns:openAccount" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://bank/BankWebService/openAccountResponse" message="tns:openAccountResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCustomer">
      <input ns5:Action="http://bank/BankWebService/getCustomerRequest" message="tns:getCustomer" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://bank/BankWebService/getCustomerResponse" message="tns:getCustomerResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" ns7:Action="http://bank/BankWebService/getCustomer/Fault/FailedLoginException" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="signIn">
      <input ns8:Action="http://bank/BankWebService/signInRequest" message="tns:signIn" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns9:Action="http://bank/BankWebService/signInResponse" message="tns:signInResponse" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" ns10:Action="http://bank/BankWebService/signIn/Fault/FailedLoginException" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getLoan">
      <input ns11:Action="http://bank/BankWebService/getLoanRequest" message="tns:getLoan" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://bank/BankWebService/getLoanResponse" message="tns:getLoanResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" ns13:Action="http://bank/BankWebService/getLoan/Fault/FailedLoginException" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="transferLoan">
      <input ns14:Action="http://bank/BankWebService/transferLoanRequest" message="tns:transferLoan" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns15:Action="http://bank/BankWebService/transferLoanResponse" message="tns:transferLoanResponse" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:TransferException" name="TransferException" ns16:Action="http://bank/BankWebService/transferLoan/Fault/TransferException" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="delayPayment">
      <input ns17:Action="http://bank/BankWebService/delayPaymentRequest" message="tns:delayPayment" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns18:Action="http://bank/BankWebService/delayPaymentResponse" message="tns:delayPaymentResponse" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:RecordNotFoundException" name="RecordNotFoundException" ns19:Action="http://bank/BankWebService/delayPayment/Fault/RecordNotFoundException" xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCustomersInfo">
      <input ns20:Action="http://bank/BankWebService/getCustomersInfoRequest" message="tns:getCustomersInfo" xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns21:Action="http://bank/BankWebService/getCustomersInfoResponse" message="tns:getCustomersInfoResponse" xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:FailedLoginException" name="FailedLoginException" ns22:Action="http://bank/BankWebService/getCustomersInfo/Fault/FailedLoginException" xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

